:root {
    /* Purple */
    --clr-primary-400: hsl(259, 100%, 65%);
    /* Light Red */
    --clr-secondary-200: hsl(0, 100%, 67%);

    --clr-neutral-100: hsl(0, 0%, 100%);
    --clr-neutral-200: hsl(0, 0%, 94%);
    --clr-neutral-300: hsl(0, 0%, 86%);
    --clr-neutral-400: hsl(0, 0%, 44%);
    --clr-neutral-0: hsl(0, 0%, 8%);

    /* Typography */
    --ff-base: 'Poppins', sans-serif;

    --fw-regular: 400;
    --fw-bold: 700;
    --fw-bolder: 800;

    --fs-input: 32px;
}

body {
    font-family: var(--ff-base);
    font-weight: var(--fw-regular);
    background-color: var(--clr-neutral-200);

    display: grid;
    place-content: center;
    min-height: 100vmin;
    margin: 1rem;
}

main {
    background-color: var(--clr-neutral-100);
}

form {
    display: flex;
    gap: 1rem;
    padding: 2rem;
}

input[type="number"] {
    -webkit-appearance: textfield; /* for Chrome, Safari */
    -moz-appearance: textfield;    /* for Firefox */
    appearance: textfield;

    max-width: 4rem;
    border-radius: 5px;
    border: 1px solid var(--clr-neutral-300);
    padding: 0.5rem;
}

input[type="number"]:is(:focus, :hover) {
    outline: none;
    border: 1px solid var(--clr-primary-400);
}

label {
    color: var(--clr-neutral-400);
}

.results {
    display: grid;

    span {
        color: var(--clr-primary-400);
    }
}
